body {
  background-color: #FFF26B;
  margin: 0 auto;
  text-align: center;
}

ul {
  margin: 0;
  padding: 0;
}

ul li {
  list-style: none;
  padding: 0 60px;
}

#theme {
  display: none;
}

h1 {
  margin: 0 auto;
}

#rulesPage {
  margin: 0 auto;
  padding: 10 20;
  background-color: #ff8a6b;
  color: #103010;
  text-align: center;
  list-style: none;
}

#rules {
  height: 600px;
  width: 1078px;
  margin: 0 auto;
  background-color: #ff8a6b;
  display: inline-block;
  font-family: 'Londrina Outline', cursive;
  font-size: 40px;
  font-weight: bold;  
  line-height: 10px;
  border: 5px solid #474350;
}

#rules ul li {
 
}

#avocado {
 height: 90px;
 width: 60px;
}

#sombrero {
  height: 90px;
  width: 150px;
}

#tacoGif {
  height: 100px;
  width: 98px;
}

#chilli {
  height: 80px;
  width: 100px;
}

#board {
  height: 670px;
  width: 1078px;
  background-color: #5bd7b2;
  display: inline-block;
  border: 5px solid #474350;
}

#board ul {
  margin: 0 auto;
  list-style: none;
  width: 656px;
  display: inline-block;
}

.square {
  border: 2px solid black;
  margin: 17px;
  text-align: center;
  height: 150px;
  width: 61px;
  float: left;
  background-size: cover;
  background-repeat:no-repeat;
  background-position: center center;
  list-style: none;
  display: inline-block;
}

#scoreBoard {
  margin: 0 auto;
  clear: both;
  background-color: #474350;
}

footer {
  margin: 0 auto;
  clear: both;
}

.show {
  background-color: blue;
}

#timer {
  width: 100%;
  text-align: center;
  font-size: 30px;
  color: #5bd7b2;
  background-color: #474350;
}

#go {
  background-color: #ff8a6b;
  color: #FFF26B;
  margin: 5px;
}

