body {
  background-color: #FFF26B;
  margin: 0 auto;
  text-align: center;
}

ul {
  margin: 0;
  padding: 0;
}

ul li {
  list-style: none;
}

#theme {
  display: none;
}

h1 {
  margin: 0 auto;
}

#rulesPage {
  margin: 0 auto;
  padding: 10 20;
  background-color: #ff8a6b;
  color: #103010;
  text-align: center;
  list-style: none;
}

#rules {
  height: 600px;
  margin: 0 auto;
  background-color: #ff8a6b;
  display: inline-block;
}

#avocado {
 height: 130px;
 width: 90px;
}

#sombrero {
  height: 115px;
  width: 177px;
}

#tacoGif {
  height: 115px;
  width: 123px;
}

#chilli {
  height: 115px;
  width: 155px;
}

#board {
  height: 525px;
  width: 1000px;
  background-color: #00CB00;
  display: inline-block;
}

#board ul {
  margin: 0 auto;
  list-style: none;
  width: 475px;
}

.square {
  border: 2px solid black;
  margin: 1px;
  text-align: center;
  height: 150px;
  width: 150px;
  float: left;
  background-size: cover;
  background-repeat:no-repeat;
  background-position: center center;
  list-style: none;
}

#scoreBoard {
  margin: 0 auto;
  clear: both;
  background-color: #474350;
}

footer {
  margin: 0 auto;
  clear: both;
}

.show {
  background-color: blue;
}

