body {
  background-color: #FFF26B;
  margin: 0 auto;
  text-align: center;
}

ul {
  margin: 0;
  padding: 0;
}

ul li {
  list-style: none;
  padding: 0 60px;
}

#theme {
  display: none;
}

h1 {
  margin: 20px auto;
}

#rules {
  height: 600px;
  width: 1078px;
  margin: 0 auto;
  background-color: #ff8a6b;
  display: inline-block;
  font-family: 'Londrina Outline', cursive;
  font-size: 40px;
  letter-spacing: 1px;
  font-weight: bold;  
  line-height: 10px;
  border: 5px solid #474350;
}

#avocado {
 height: 119px;
 width: 88px;
 margin: 17px 34px 0;
}

#sombrero {
  height: 100px;
  width: 140px;
  margin: 20px 34px;
}

#tacoGif {
  height: 113px;
  width: 131px;
  margin: 17px 34px;
}

#chilli {
  height: 102px;
  width: 130px;
  margin: 17px 34px;
}

#board {
  height: 729px;
  width: 1078px;
  background-color: #5bd7b2;
  display: inline-block;
  border: 5px solid #474350;
}

#board ul {
  margin: 0 auto;
  list-style: none;
  width: 656px;
  display: inline-block;
}

.square {
  border: 2px solid black;
  margin: 10px 17px;
  text-align: center;
  height: 150px;
  width: 61px;
  float: left;
  background-color: #474350;
  background-size: cover;
  background-repeat:no-repeat;
  background-position: center center;
  list-style: none;
  display: inline-block;
}

.scoreBoard {
  margin: 0 auto;
  clear: both;
  background-color: #5bd7b2;
  color: #474350;
  font-family: 'Londrina Outline', cursive;
  font-size: 53px;
}

footer {
  margin: 0 auto;
  clear: both;
  font-family: 'Londrina Outline', cursive;
  font-size: 20px;
  font-weight: bold;
}

.show {
  background-color: blue;
}

#timer {
  width: 40%;
  margin: 0 auto;
  text-align: center;
  font-size: 30px;
  color: #5bd7b2;
  background-color: #FFF26B;
  font-family: 'Londrina Outline', cursive;
  font-size: 40px;
  font-weight: bold;
}

#go {
  background-color: #ff8a6b;
  color: #FFF26B;
  margin: 5px;
  font-family: 'Londrina Outline', cursive;
  font-size: 50px;
  font-weight: bold;
}

